VITE_CONTACT_BRAND=SERVITEC
VITE_CONTACT_PHONE_DISPLAY=+54 11 5555-1234
VITE_CONTACT_PHONE_E164=+541155551234
VITE_CONTACT_WHATSAPP=5491155551234
VITE_CONTACT_DEFAULT_MESSAGE=Hola SERVITEC, necesito service de bomba de agua. ¿Pueden ayudarme?
