VITE_CONTACT_BRAND=SERVITEC
VITE_CONTACT_PHONE_DISPLAY=+54 11 3571-7218
VITE_CONTACT_PHONE_E164=+541135717218
VITE_CONTACT_WHATSAPP=5491135717218
VITE_CONTACT_DEFAULT_MESSAGE=Hola SERVITEC, necesito service de bomba de agua. ¿Pueden ayudarme?
